<div class="modal_image">

    <div class="modal_image_card">

        <div class="modal_image_header">
            <input type="search" name="search" id="search" placeholder="Cari Gambar">
            <i class="material-icons">close</i>
        </div>

        <!--MAPING AREA-->
        <div class="modal_image_body">
            
        </div>
        <!--END MAPING AREA-->

        <div class="modal_image_footer">
            <button class="btn_select">Select</button>
            <button class="btn_cancel">Cancel</button>
        </div>

    </div>

</div>