
    {{#if isLogin}}
    
    <nav class="navbar_dashboard">

        <i class="material-icons menu_togle" onclick="menuTogle()">chevron_left</i>
        <i class="material-icons menu_togle_back" onclick="menuTogleBack()">chevron_right</i>

        <h1 class="brand">
            kondangan-app
        </h1>

        <div class="dashboard_menu" onclick="showDashboardMenu()">
            {{user}} <i class="material-icons">person</i>
        </div>
    </nav>

    <div class="dashboard_menu_item" >
        <div class="db_menu_list">
            <i class="material-icons">settings</i> Setting
        </div>

         <div class="db_menu_list">
            <i class="material-icons">markunread</i> Undangan Saya
        </div>

         <div class="db_menu_list">
            <i class="material-icons">logout</i> Logout
        </div>
    </div>
    
    {{else}}

    <nav class="navbar">

        <h1 class="brand">
            kondangan-app
        </h1>
        <ul class="menu">

            <li class="menu_item">
                <a href="/">home</a>
            </li>

            <li class="menu_item">
                <a href="/register">register</a>
            </li>

            <li class="menu_item">
                <a href="/login">login</a>
            </li>

        </ul>

    </nav>

    {{/if}}


    <script>

        function menuTogle(){
            let navbar = document.querySelector('.navbar_dashboard')
            navbar.style.width = '98%'

            let cl = document.querySelector('.menu_togle')
            cl.style.display = 'none'

            let cr = document.querySelector('.menu_togle_back')
            cr.style.display = 'initial'

            let sideMenu = document.querySelector('.side_menu')
            sideMenu.style.transform = 'translateX(-100%)'
        }

          function menuTogleBack(){
            let navbar = document.querySelector('.navbar_dashboard')
            navbar.style.width = '68%'

            let cl = document.querySelector('.menu_togle')
            cl.style.display = 'initial'

            let cr = document.querySelector('.menu_togle_back')
            cr.style.display = 'none'

            let sideMenu = document.querySelector('.side_menu')
            sideMenu.style.transform = 'translateX(0)'
        }

        let show = false

        function showDashboardMenu(){

            let dashboard_menu_item = document.querySelector('.dashboard_menu_item')

            if(!show){
                dashboard_menu_item.style.display = 'flex'
                show = true
            }else{
                dashboard_menu_item.style.display = 'none'
                show = false
            }

        }




    </script>