<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <meta name="description" content="Aplikasi undangan online Indonesia">
    <meta property="og:title" content="Kondangan App">
    <meta property="og:description" content="Aplikasi undangan online Indonesia">
    <meta property="og:image"
        content="https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=200">
    <title>Kondangan</title>
</head>

<body>

    {{> Navbar }}
    {{{ body }}}

    <script src="js/main.js"></script>
</body>

</html>