<main class="container-fluid dashboard">

    <div class="side_menu">

        <div class="side_menu_title">
            Undangan Editor
        </div>

        <form action="/view" class="side_menu_editor" method="POST">

            <div class="form_group">
                <label for="mempelai_pria">Nama Mempelai Pria</label>
                <input type="text" id="mempelai_pria" name="mempelai_pria" required onchange="handleChange(event)">
            </div>

             <div class="form_group">
                <label for="mempelai_wanita">Nama Mempelai Wanita</label>
                <input type="text" id="mempelai_wanita" name="mempelai_wanita" required onchange="handleChange(event)">
            </div>

            <div class="form_group">
                <label for="tanggal_akad">Tanggal Akad</label>
                <input type="datetime-local" id="tanggal_akad" name="tanggal_akad" required onchange="handleChange(event)">
            </div>

            <div class="form_group">
                <label for="tanggal_resepsi">Tanggal Resepsi</label>
                <input type="datetime-local" id="tanggal_resepsi" name="tanggal_resepsi" required onchange="handleChange(event)">
            </div>

             <div class="form_group">
                <label for="lokasi">Lokasi</label>
                <textarea type="text" id="lokasi" name="lokasi" required onchange="handleChange(event)"></textarea>
                <input type="text" id="gmaps" name="gmaps" placeholder="paste lokasi gmaps disini" onchange="handleChange(event)">
                <button >cari lokasi</button>
            </div>

             <div class="form_group">
                <label for="pesan">Pesan Pernikahan</label>
                <textarea id="pesan" name="pesan" required onchange="handleChange(event)"></textarea>
            </div>

             <div class="form_group">
                <label for="font">Pilih Font</label>
                <select name="font" id="font" onchange="handleChange(event)">
                    <option value="Helvetica">Helvetica</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Arial">Arial</option>
                    <option value="Ralleway">Raleway</option>
                </select>
            </div>

            <div class="form_group">
                <label for="background">Pilih Background</label>
                <select name="background" id="background" onchange="handleChange(event)">
                    <option value="gambar_1">
                        <img src="https://picsum.photos/seed/13/200" alt="image-1">
                    </option>

                    <option value="gambar_2">
                        <img src="https://picsum.photos/seed/15/200" alt="image-2">
                    </option>

                    <option value="gambar_3">
                        <img src="https://picsum.photos/seed/16/200" alt="image-3">
                    </option>
                   
                </select>
            </div>

            <button class="editor_save" type="submit">save</button>
            

        </form>

    </div>

    <section class="live_view container-fluid flex-center">

        <h3 class="lv_akad">Jakarta 13 Juli 2021</h3>
        <h1 class="lv_mempelai">
            Fadli & Evalia
        </h1>
        <h3 class="lv_resepsi">
            Mohon Doa'a Restunya, Kami Akan Menyelengarakan Resepsi Pernikahan, <br>
            <b class="lv_resepsi_time">14 Juli 2021</b> <br>
            <b class="lv_resepsi_lokasi">
                Gedung Balai Kartini, Jakarta.
            </b>
        </h3>
        <p class="lv_pesan">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis mollitia voluptates illum perspiciatis aliquid ipsum fuga quos totam quasi. Alias dolore molestiae veritatis molestias amet nobis tempora provident enim quam!
        </p>

    </section>


</main>