<main class="container-fluid flex-center">

    <div class="content_center flex-center">
        <h1 class="mempelai_name">
            Kondangan App
        </h1>

        <p class="main_text">
            Buat Undangan Online Gratis..
        </p>

        <button class="main_button">
            daftar sekarang
        </button>
    </div>

    <img src="https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt="background image" class="main_background">

</main>